@{
    <!-- this sets the title property of the viewdata dictionary to movie list -->
    ViewData["Title"] = "Movie List";
}

<title>@ViewData["Title"] - Movie App</title>   

<h2>My Movie List</h2>

<p> Hello from this View Template! </p>

